

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    /*outline:0;*/
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 90px;
    background-color: rgb(2, 21, 36);
    color: white;
    display: flex;
    width: 100%;
}

header a {
    font-size: 18px;
    color: white;
    gap: 15px;
    display: inline-block;
    text-align: center;
}

.left-nav {
    display: flex;
    width: 33%;
    gap: 0 auto;
}

.logo {
    display: flex;
    width: 33%;
}

.right-nav {
    display: flex;
    width: 33%;
}

.header-fixer {
    height: 200px;
    background: transparent;
    width: 100%;    
}

.sub-head {
    background-color: rgb(170, 168, 168);
    height: 80px;
    color:rgb(2, 21, 36);
    font-size: 11px;
    width: 100%;
}

.people-group-l {
    width: 100%;
    height: 80px;
    color: rgb(88, 10, 10);
    font-size: 20px;
    text-align: left;
    line-height: 80px;
}

.people-group-1::before {
    content: url(./img/);
}

main {
    display: flex;
    flex-direction: row;
}


.lists {
    display: flex;
    flex-flow: column;
    width: 40%;
}

.lists a {
    text-decoration: none;
    color: rgb(2, 21, 36);
}

.lists h3 {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.lists ul {
    margin: auto;
    width: 200px;
}

.geography {
display: flex;
width: 50%;
}

.ethnicity {
    display: flex;
    width: 50%;

}

.by-other {
    display: flex;
    width: 50%;

}

.global-l {
    display: flex;
    width: 50%;

}

.custom {
    display: flex;
    width: 50%;

}

.chart {
    display: flex;
    width: 60%;
}

footer {
    height: 80px;
    background-color: rgb(2, 21, 36);
}

.bot-left-nav {

}